.Home_Page{
    height: fit-content;
    width: 93.5vw;
    display: flex;
    background: var(--back);
}

.Home_Page_container{
    width: 100%;
    margin-bottom: 8rem;
}

.playlist_part{
    margin-top: 5.5rem;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-right: 6rem;
    box-sizing: border-box;
}    

.charts_section{
    width: 40%;
    height: 25.5rem;
    padding: 0rem 0rem 0rem 2rem;
    display: flex;
    flex-direction: column;
}

.top_charts_title{
    color: var(--white);
    font-size: 1.7rem;
}

.chart_container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
}

.new_releases{
    display: flex;
    flex-direction: column;
}
.new_releases h1{
    margin-top: 1.5rem;
    color: var(--white);
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.new_releases_slider{
    padding-right: 6rem;
    margin-bottom: 2rem;
}
