.aside{
    background-color: var(--back);
    height: 100%;
    width: 6.5%;
    position: fixed;
    z-index: 6;
    transition: all 0.1s ease;
    margin-top: 5rem;
}

.aside_container{
    padding: 0rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 2rem;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav{
    display: flex;
    flex-direction: column;
    gap: 1.3rem;
    align-content: center;
    width: 75%;
}
.nav ul{
    width: 100%;
    background: var(--back-overlay);
    padding: 2rem 0rem;
    border-radius: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
}
.nav li{
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.nav_item{
    transition: all 0.3s ease;
}

.nav_item svg path{
    transition: all 0.3s ease;
}
.nav_item.active svg path{
    transition: all 0.3s ease;
    fill: var(--sec);
    fill-opacity: 1;
}
/* .navlist.active svg path{
    transition: all 0.3s ease;
    fill: var(--sec);
    fill-opacity: 1;
} */
.nav_item:hover svg{
    transform: scale(1.2);
    transition: all 0.3s ease;
}
.home:hover div{
    transform: rotate(5deg);
    transition: all 0.3s ease;
    transform-origin: right;
}

.collection:hover svg .collection_cover{
    transform: rotate(20deg);
    transition: all 0.3s ease;
    transform-origin: right;
}
.collection:hover svg{
    overflow: visible;
}

.radio:hover svg{
    transition: all 0.3s ease;
    transform-origin: bottom;
    animation: bouncefromdown 0.5s linear 0s infinite alternate;
}
.radio:hover div{
    transition: all 0.3s ease;
    transform-origin: bottom;
    animation: rotateleftandright 1s linear 0.5s infinite alternate;
}

.nav li .navlist p {
    display: none;
}

@media screen and (max-width: 1280px) {

    
}

@media screen and (max-width: 1024px) {

    .aside_container {
        padding: 0rem 0rem;
    }

}

@media screen and (max-width: 860px) {

    .nav {
        gap: 3rem;
        width: 100%;
        padding: 0rem 1rem;
    }

    .nav ul {
        width: 100%;
        background: transparent;
        padding: 0rem;
        border-radius: 60px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 3rem;
    }

    .nav li {
        justify-content: start;
    }
    .nav li .navlist {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }
    .nav li .navlist p {
        display: block;
        color: rgb(239, 238, 224);
        opacity: 0.25;
        font-weight: 600;
        font-size: 1.5rem;
    }

    .nav_item.active .navlist p {
        transition: all 0.3s ease;
        color: var(--sec);
        opacity: 1;
    }

    .nav_item svg{
        height: 1.5rem;
        width: 1.5rem;
        transition: all 0.3s ease;
    }
    
    .aside{
        height: 100%;
        width: 100%;
        z-index: 7;
        transition: all 0.1s ease;
        margin-top: 0rem;
        background-color: #1D2123;
        transform: translateX(-100%);
    }
    .aside.show{
        height: 100%;
        width: 100%;
        z-index: 5;
        transition: all 0.5s ease;
        margin-top: 0rem;
        transform: translateX(-0%);
    }

    .aside_container {
        margin-top: 8rem;
    }

}

@media screen and (max-width: 576px) {


}