.signin_page{
    width: 100vw;
    height: 100vh;
}
.signin_page_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
}

.gg{
    width: 100%;
    height: 100%;
}

.form_section{
    width: 100%;
    height: 100%;
}
.form_section_container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.form_back{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease;
}
.form_back.show{
    opacity: 1;
    transition: all 0.5s ease;
}
.form_back_two{
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.5s ease;
}
.form_back_two.show{
    opacity: 1;
    transition: all 0.5s ease;
}

.middle_section{
    position: absolute;
    height: 100%;
    width: 2rem;
    right: 0;
    left: 0;
    margin: auto;
}
.Wallpaper_section {
    width: 40rem;
    height: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    transition: all 0.5s ease;
    position: relative;
}
.sign_filter {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-image: linear-gradient(0deg, #000000 40%, transparent);
    opacity: 0.5;
    transition: all 0.5s ease;
}
.Wallpaper_section img{
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(100%);
    transform-origin: top;
    opacity: 0;
    transition: all 0.5s ease;
}
.Wallpaper_section img.show{
    transform: translateX(0%);
    opacity: 1;
    transition: all 0.5s ease;
}

.signin_page_artist{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    transition: all 0.5s ease;
}

.signin_page_artist_detials{
    padding: 1rem;
    transition: all 0.5s ease;
}
.signin_page_artist_detials p{
    font-size: 3rem;
    font-weight: 800;
    opacity: 0.8;
    color: var(--white);
    transition: all 0.5s ease;
}
.signin_page_artist_detials p:last-of-type{
    font-size: 2rem;
    font-weight: 500;
    opacity: 0.4;
    color: var(--white);
}

.form_field{
    width: 35rem;
    height: 40rem;
    padding: 3rem 6rem;
    /* background: var(--back-shade); */
    background: transparent;
    box-shadow: 5px 5px 30px var(--back);
    position: absolute;
    overflow: hidden;
}
.form_field::before {
    content: '';
    width: 24rem;
    height: 60rem;
    background: conic-gradient(var(--sec), rgba(255, 255, 255, 0.651), var(--sec), rgba(255, 255, 255, 0.63));
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    z-index: 1;
    animation: rotateleftt 5s linear 0s infinite ;
}

.signin_form{
    z-index: 3;
    transition: all 0.5s ease;
    transform: rotateY(0deg);
}
.signin_form.flip{
    z-index: 2;
    transition: all 0.5s ease;
    transform: rotateY(360deg);
}
.signup_form{
    z-index: 3;
    transition: all 0.5s ease;
    transform: rotateY(360deg);
}
.signup_form.flip{
    z-index: 2;
    transition: all 0.5s ease;
    transform: rotateY(0deg);
}

.form_field_cotainer{
    z-index: 5;
    width: 34.2rem;
    height: 39.2rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 3rem 6rem;
    background: transparent;
}
.signup_form_field_cotainer{
    z-index: 5;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: scroll;
    margin: 3rem 0rem 3rem;
    padding: 0rem 6rem;
    background: transparent;
}

.form_con_back{
    width: 34.2rem;
    height: 39.2rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    /* transition: all 0.1s ease; */
    z-index: 5;
}
.form_con_back.show{
    opacity: 1;
    /* transition: all 0.5s ease; */
}
.form_con_back_two{
    width: 34.2rem;
    height: 39.2rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    opacity: 0;
    /* transition: all 0.1s ease; */
    z-index: 5;
}
.form_con_back_two.show{
    opacity: 1;
    /* transition: all 0.5s ease; */
}

.login_with_google_btn{
    width: 100%;
    height: 3rem;
    background: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #57545467;
    gap: 0.8rem;
    cursor: pointer;
}
.login_with_google_btn p{
    font-size: 1rem;
    font-weight: 800;
    color: #575454;
}

.or{
    height: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.or div{
    height: 0.05rem;
    width: 40%;
    background-color: #5754548a;
}
.or p{
    font-size: 0.8rem;
    font-weight: 300;
    color: #575454;
}
.inputs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 0.8rem;
}
.inputs input{
    background: none;
    outline: none;
    border: none;
    border-bottom: 1px solid #575454;
    width: 100%;
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: 0.5px;
    padding: 0.2rem 0rem;
}
.inputs input::placeholder{
    color: #727171;
}
.inputs input::selection{
    background-color: var(--sec);
}

.inputs input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    /* -webkit-box-shadow: 0 0 0 30px white inset !important; */
    transition: background-color 5000s ease-in-out 0s;
    /* -webkit-text-fill-color: yellow !important; */
}


.emailfield, .passwordfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    position: relative;
}

.passwordfield svg{
    position: absolute;
    cursor: pointer;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.remeber_forget{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.remeber_forget p{
    font-size: 0.8rem;
    font-weight: 800;
    color: #000000;
}
.forgot_password{
    cursor: pointer;
    text-decoration: underline;
}

.remeberme_check{
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
}
.remeberme_check input{
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.siginpage_signin_button{
    width: 100%;
    height: 3rem;
    background: var(--back);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0.5px solid #57545467;
    gap: 0.8rem;
    cursor: pointer;
    margin-bottom: 1.5rem;
    transition: all 0.5s ease;
}
.siginpage_signin_button:hover{
    transition: all 0.5s ease;
    transform: scale(1.05);
}
.siginpage_signin_button p{
    font-size: 1rem;
    font-weight: 800;
    color: #eeeeee;
}

.form_field_lastpart{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.2rem;
}
.form_field_lastpart p{
    font-size: 0.8rem;
    font-weight: 300;
    color: #3b3838;
}
.form_field_lastpart a{
    font-weight: 800;
    color: #000000;
    cursor: pointer;
}

.form_field_logo{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 2rem;
}
.form_field_logo p{
    font-size: 3rem;
    font-weight: 700;
}

.musica{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.colsec{
    
    color: var(--sec);
}