.chart{
    width: 100%;
    height: 6.5rem;
    border-radius: 35px;
    background: var(--back-shade);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.chart_first_part{
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    transition: all 0.5s ease;
    z-index: 1;
}

.chart_img{
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;
}
.chart_img img{
    height: 100%;
}

.chart_detials{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: var(--white);
    font-weight: 100;
    letter-spacing: 0.5px;
    z-index: 1;
}
.chart_detials p{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 15rem;
}

.chart_name{
    font-size: 1.2rem;
    
}

.chart_creator{
    opacity: 0.5;
}

.chart_fav{
    height: 3rem;
    width: 3rem;
    border: 1px solid rgb(255 253 253 / 89%);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 1;
    transition: all 0.5s ease;
}

.chart_fav:hover{
    background-color: var(--sec);
    transition: all 0.5s ease;
    border: 2px dotted var(--back);
    animation: rotateleftt 0.5s linear alternate;
}

.chart_fav svg{
    transition: all 0.5s ease;
    height: 1.5rem;
    width: 1.5rem;
}

.chart_fav:hover svg{
    transition: all 0.3s ease;
    /* transform: scale(1.3); */
    animation: growandshrink 0.7s linear infinite alternate;
}
.chart_fav:hover svg path{
    transition: all 0.3s ease;
    fill: var(--white)
}
.chart_fav:hover svg path:last-of-type{
    transition: all 0.3s ease;
    fill: var(--sec)
}

.chart:hover{
    transform: scale(1.05);
    transition: all 0.5s ease;
}

.chart_slide{
    position: absolute;
    width: 100%;
    height: 100%;
    transition: all 0.7s ease;
    transform: translate(101%) skewY(163deg);
    top: 0;
    right: 0;
    z-index: 0;
    background-image: linear-gradient(to right, var(--sec) , var(--pri));
    opacity: 0.8;
}

.chart:hover .chart_slide{
    transition: all 0.5s ease;
    transform: translate(0%);
}

.chart:hover svg path{
    transition: all 0.3s ease;
    stroke: var(--white)
}
.chart:hover .chart_detials{
    transition-delay: 0.5s;
    transition: all 0.3s ease;
    color: var(--back);
    font-weight: 500;
}
