.playlist_big_inner_container{
    height: 25.5rem;
    width: 100%;
    background: var(--light-blue);
    border-radius: 40px;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.5s ease;
}

.playlist_big_inner_container .words{
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1rem;
    z-index: 2;
}
.playlist_big_inner_container p, .playlist_big_inner_container h1{
    color: var(--white);
}
.playlist_big_inner_container .imgs{
    flex: 0 0 50%;
}


.title p{
    font-size: 0.9rem;
    font-weight: 100;
}

.playlist_big_inner_container .middle p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 100;
    margin: 0;
    margin-top: 0.5rem;
    width: 90%;
}
.middle h1{
    font-size: 2.5rem;
    font-weight: 700;
    margin: 0;
}

.likes{
    transition: all 0.5s ease;
    display: flex;
    flex-direction: row;
    position: relative;
}

.hero{
    top: 0;
    right: 0;
    position: absolute;
    height: 100%;
    transition: all 0.5s ease;
}

.swirl_container{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 0.5s ease;
    border-radius: 40px;
}
.swirl{
    top: -65%;
    right: -20%;
    position: absolute;
    animation: rotate3d 3s linear infinite;
    transition: all 0.5s ease;
}

.playlist_big_inner_container::-webkit-scrollbar{
    display: none;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none; 
}
.playlist_big_inner_container:hover{
    overflow: visible;

}
.playlist_big_inner_container:hover .hero{
    transition: all 0.5s ease;
    transform: scale(1.1);
    transform-origin: bottom;
    z-index: 6;
    filter: brightness(100%);
}
.playlist_big_inner_container:hover .swirl_container{
    transition: all 0.7s ease;
    background-image: linear-gradient(to right, var(--pri) , var(--sec));
    opacity: 0.3;
}
.playlist_big_inner_container:hover .swirl{
    transition: all 0.5s ease;
    transform: scale(1.1);
    transform-origin: bottom;
}

.playlist_big_inner_container .last{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7rem;
}
.playlist_big_inner_container .last p{
    font-size: 1.2rem;
    font-weight: 100;
}

.playlist_big_inner_container svg{
    transition: all 0.5s ease;
}
.playlist_big_inner_container:hover svg{
    transition: all 0.5s ease;
    animation: growandshrink 0.7s linear infinite alternate;
}

@media screen and (max-width: 1280px) {

    
}

@media screen and (max-width: 1024px) {

    .playlist_big_inner_container {
        width: 100%;
    }

    .playlist_big_inner_container .words {
        flex: 0 0 60%;
    }

    .playlist_big_inner_container .imgs {
        flex: 0 0 40%;
    }

}

@media screen and (max-width: 860px) {
    .playlist_big{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    
    
}

@media screen and (max-width: 576px) {
    
    .playlist_big_inner_container {
        height: 60vh;
        padding: 2rem;
    }
    
    .playlist_big_inner_container .words {
        flex: 0 0 100%;
        padding-left: 0rem;
    }
    
    .playlist_big_inner_container .imgs {
        flex: 0 0 0%;
    }

    .playlist_big_inner_container .middle {
        height: 100%;
        margin-bottom: 3rem;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    .hero {
        object-fit: cover;
        z-index: -1;
    }
    
}