*{
  font-family: 'Quicksand', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  padding: 0rem;
  margin: 0rem;
  font-family: 'Quicksand', sans-serif;
  background-color: var(--back);
  overflow: scroll;
}

body::-webkit-scrollbar{
  display: none;
}
body::-moz-scrollbar{
  display: none;
}

body::-webkit-scrollbar-track{
  width: 10px;
  background-color: aqua;
}
body::-webkit-scrollbar-track-piece{
  width: 10px;
  background-color: aqua;
}
body::-webkit-scrollbar-thumb{
  width: 0px;
}

